In [3]:
#Q1. 
var_1 = ['string',[1,2,3], 2.101, (1,2,3)]
var_1

['string', [1, 2, 3], 2.101, (1, 2, 3)]

In [15]:
#Q2.
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

In [17]:
#Q2
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [21]:
#Q3.
#1 (/) operator: does division
print(1/2)
#2 (%) operator: returns remainder as output
print(5%2)
#3 (//)operator: returns quotient as output
print(5//2)
#4 (**) operator: exponential or raised to valueprint
print(2**2)

0.5
1
2
4

In [24]:
#Q4
list_1 = [None,2,3,4,5,6,'str',['a',1],9.8,('a','b',0)]
len(list_1)

10

In [25]:
#Q4.
for item in list_1:
    print(type(item))

<class 'NoneType'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [46]:
#Q5. 
A = 256
B = 2
times = []
if A%B == 0:
    while A%B == 0:
        times.append(1)
        A = A//B
        continue
    print(len(times))
else:
    print(A,'is not divisible by',B)

8

In [49]:
#Q6.
list_2 = list(range(1,26))
for item in list_2:
    if item%3 == 0:
        print(item, 'is divisible by 3')
    else:
        print(item, 'is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [51]:
#Q7.
#Mutable objects are objects that may be modified within the variable without having to create a new variable with 
#the new data. List is a type of mutable data type, allows for indexation, slicing, remove, append of its data 
list_3 = [1,2,3,4,5]
list_3.append('new data')
list_3

[1, 2, 3, 4, 5, 'new data']

In [52]:
#Q7.
#Immutable obecjts are objects that cannot be modified without having to assign the new values to the variable, append,
#remove dont work, strings and tuples are immutable data types
tup_1 = (1,2,3,4)
tup_1 = (1,2,3,4,'new data')
#I had to assign a new value to the vriable tup_1 to add the 'new data'.
tup_1

(1, 2, 3, 4, 'new data')